*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display:grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    width:100vw;
    height:100vh;
    background-color: blueviolet;
    gap:5px;
}
.counter-container{
    place-self: center;
    text-align: center;
    color:white;
    font-size: x-large;
}
.counter{
    padding:5px 0px;
}